Download and Install Python 3.7.8
https://www.python.org/downloads/release/python-378/

----
Install pip:
py.exe -m ensurepip --upgrade

Or learn more from here: https://pip.pypa.io/en/stable/installation/

----
Install Boston Dynamic API:
py.exe -3 -m pip install bosdyn-client==3.1.0 bosdyn-mission==3.1.0 bosdyn-choreography-client==3.1.0

----
Install Pillow, window curses, and protobuf:

py.exe -3 -m pip install Pillow==6.1.0
py.exe -3 -m pip install windows-curses==2.1.0
python -m pip install -v protobuf==3.15.8
-----

-----
Connector contains:
py.exe -3 server.py --ip "127.0.0.1" --port 8080 --user admin --password fgpysh1d4plg 192.168.803
-----